.table th {
  color: white;
}

.table td {
  color: white;
}

.table {
  background-color: #2b2d52;
  width: 100px;
  margin: 10px;
  margin-left: 4px;
}

.table table-hover a:hover {
  background-color: gray;
  color: white;
}

.card {
  margin-left: 170px;
  margin-top: 30px;
}
