.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: #262953;
  position: sticky;
  top: 50;
  margin-right: 50px;
  margin-left: -192px;
}

.sidebarWrapper {
  padding: 15px;
  color: #fff;
  position: relative;
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 13px;
  color: #7bc4c3;
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  padding: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: #7bc4c3;
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}
