.table-card {
  margin-left: 170px;
  margin-top: 40px;
  margin-bottom: 50px;
  color: black;
}

.card-header {
  background-color: #000000;
  text-align: center;
  font-size: 18px;
}

.refresh-button {
  border-radius: 4px;
  background-color: smoke whitesmoke;
  width: 5%;
  box-shadow: none;
  border: 2px solid lightgrey;
  float: right;
  transition-duration: 0.4s;
  border-radius: 4px;
  cursor: pointer;
  color: #000000;
}

.refresh-button:active {
  transform: translateY(1px);
}

.ant-collapse-header {
  font-size: 16px;
  font-weight: bolder;
}

.makeItRed .ant-collapse-header-text {
  color: red;
}

.makeItGreen .ant-collapse-header-text {
  color: green;
}
