.table th {
  color: white;
}

.table td {
  color: white;
}

.table {
  background-color: #1e1f1c;
  width: 100px;
  margin: 10px;
  margin-left: 4px;
  table-layout: fixed;
}

.table-card {
  margin-left: 170px;
  margin-top: 40px;
  margin-bottom: 50px;
  color: black;
}

.card-header {
  background-color: black;
  text-align: center;
}

.refresh-button {
  border-radius: 4px;
  background-color: smoke whitesmoke;
  width: 5%;
  box-shadow: none;
  border: 2px solid lightgrey;
  float: right;
}

.card-widget {
  float: right;
  width: 18rem;
  padding: 8px;
  border-radius: 4px;
  position: relative;
  left: 60px;
  top: 30px;
}

.card-text {
  font-size: 85px;
  text-align: center;
  color: #fb5750;
}

.card-body {
  background-color: black;
}
